---
title: DEIMOS 
permalink: /deimos/
layout: page
---

<h2>The Keck/DEIMOS Stellar Archive</h2>

<p>
    This page provides data access for <a href="https://arxiv.org/abs/2602.10200">Geha et al. (2026)</a> and <a href="https://arxiv.org/abs/2602.10202">Geha (2026)</a>.  Tables from both papers can be
    <a href="https://www.dropbox.com/scl/fo/6dobr827qsc7e4nxt9tcv/ADP_VLa6NqhvXzKCSKOGfjs?rlkey=94cjns570awdrioxgt5b7dwlt&st=w1lqehoc&dl=0">downloaded here.</a>
</p>
<!-- DISPLAY AS SECTIONS (a la research page)-->

<div class="container">
    {% assign desired = "paper1,paper2" | split: "," %}

    {% for slug in desired %}
        {% assign paper = site.deimos | where: "slug", slug | first %}
        <h3>{{ paper.title }}</h3>
            <div class="row" id="{{paper.title}}">
                <div class="col-md-6">
                    <div class="text-div">
                        <p>{{ paper.content }}</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="{{ paper.image | relative_url }}" alt="{{ paper.title }}" class="img-fluid">
                </div>
            </div>
    {% endfor %}
</div>

<div class="container">
    {% assign desired = "other_papers" | split: "," %}

    {% for slug in desired %}
        {% assign paper = site.deimos | where: "slug", slug | first %}
        <h2>{{ paper.title }}</h2>
            <div class="row" id="{{paper.title}}">
                <div class="col-md-12">
                    <div class="text-div">
                        <p>{{ paper.content }}</p>
                    </div>
                </div>
            </div>
    {% endfor %}
</div>
