---
layout: default
title: Outreach
permalink: /outreach/
---

<div class="container ">
    {% for card in site.outreach %}
        <div class="row mb-4"> <!-- mb-4 adds some space between the rows -->
            <div class="col-12">
                <div class="card single-row-card">
                    {% if card.image %}
                        <img class="card-img-top" src="{{ card.image }}" alt="{{ card.title }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ card.title }}</h5>
                        <p class="card-text">{{ card.content }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>