.card {
    display: flex;
    flex-direction: column;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card-text {
    flex-grow: 1; 
}

.my-container {
    padding-top: 20px;    /* Space at the top inside the container */
    padding-bottom: 20px; /* Space at the bottom inside the container */
}

@media (max-width: 768px) {
    .my-container {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.card-link {
    text-decoration: none; 
    color: inherit; /* Keeps the text color consistent */
}

.card-link:hover {
    cursor: pointer; 
}


.card-border {
    border: 1px solid #d0d0d0; /* Adjust color, width, and style as needed */
    padding: 15px; /* Optional: for spacing inside the card */
    margin-bottom: 20px; /* Optional: for spacing between cards */
    border-radius: 5px; /* Optional: for rounded corners */
}