.card {
    display: flex;
    flex-direction: column;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card-text {
    flex-grow: 1; 
}

.my-container {
    padding-top: 20px;    /* Space at the top inside the container */
    padding-bottom: 20px; /* Space at the bottom inside the container */
}

@media (max-width: 768px) {
    .my-container {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.card-link {
    text-decoration: none; 
    color: inherit; /* Keeps the text color consistent */
}

.card-link:hover {
    cursor: pointer; 
}

.single-row-card {
    /* Custom styles for larger single-row cards */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border: none; /* Example to remove border */
    margin: auto; /* Center the card if needed */
    min-width: 50%;
    max-width: 95%;
}

.single-row-card .card-img-top {
    max-height: 300px; /* Adjust maximum height as needed */
    width: 50%; /* Image will scale to maintain its aspect ratio */
    object-fit: contain; /* Ensures the entire image is shown, may add letterboxing */
    // center image
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.single-row-card .card-body {
    /* Style the card body */
}