body { 
    background: #ffffff;

    font-family: 'Raleway', sans-serif;

}

h1 {
    text-align: center; /* Centers the text */
    padding-top: 20px; /* Adds padding to the top */
    padding-bottom: 20px; /* Adds padding to the bottom */
    /* You can adjust the 20px to increase or decrease the padding */
}

h2 {
    text-align: center; /* Centers the text */
    padding-top: 20px; /* Adds padding to the top */
    padding-bottom: 20px; /* Adds padding to the bottom */
    /* You can adjust the 20px to increase or decrease the padding */

}
