---
---
<div class="text-justify">
    {% assign authors = entry.author | split: " and " %}
    {% assign isGehaIncluded = false %}
    {% assign formattedAuthors = "" %}
    {% assign isFirstAuthor = true %}
    
    <!-- Formatting the author list -->
    {% for author in authors %}
        {% if isFirstAuthor %}
            {% assign formattedAuthors = author | prepend: "<strong>" | append: "</strong>" %}
            {% assign isFirstAuthor = false %}
        {% else %}
            {% assign formattedAuthors = formattedAuthors | append: " and " | append: author %}
        {% endif %}
    {% endfor %}
    {% assign splitAuthors = formattedAuthors | split: " and " %}
    <!-- end Formatting the Author list -->
    <!-- Handling the display of the author list -->
    {% if splitAuthors.size == 3 %}
        {% assign firstThreeAuthors = splitAuthors | slice: 0, 3 %}
        {{ firstThreeAuthors | join: ", " }};
    {% endif %}

    <!-- Handling the display of the author list -->
    {% if splitAuthors.size > 3 %}
        {% assign firstThreeAuthors = splitAuthors | slice: 0, 3 %}
        
        <!-- Checking if 'Geha' is among the first three authors -->
        {% for author in firstThreeAuthors %}
            {% if author contains "Geha" %}
                {% assign isGehaIncluded = true %}
            {% endif %}
        {% endfor %}
    
        <!-- Displaying the first three authors and checking for Geha -->
        {{ firstThreeAuthors | join: ", " }} et al.;
        {% if isGehaIncluded == false %}
            (includes Geha, M)</>;
        {% endif %}
    {% endif %}
    {% if splitAuthors.size <= 2 %}
        {{ formattedAuthors }};
    {% endif %}
    

    <em>{{ entry.title }}</em>;
    {% if entry.journal %}
    <span>{{ entry.journal }}</span>;
    {% endif %}
    {% if entry.booktitle %}
    <span>{{ entry.booktitle }}</span>;
    {% endif %}
    {% if entry.adsurl %}
    <span><a href="{{ entry.adsurl }}">{{entry.doi}}</a></span>
    {% endif %}
</div>