---
---
<div class="text-justify">
    {% assign authors = entry.author | split: " and " %}
    {% assign isGehaIncluded = false %}
    {% assign formattedAuthors = "" %}
    {% assign isFirstAuthor = true %}
    
    <!-- Formatting the author list -->
    {% for author in authors %}
        {% if isFirstAuthor %}
            {% assign formattedAuthors = author | prepend: "" | append: "" %}
            {% assign isFirstAuthor = false %}
        {% else %}
            {% assign formattedAuthors = formattedAuthors | append: " and " | append: author %}
        {% endif %}
    {% endfor %}
    {% assign splitAuthors = formattedAuthors | split: " and " %}
    <!-- end Formatting the Author list -->
    <!-- Handling the display of the author list -->
    {% if splitAuthors.size == 5 %}
        {% assign firstThreeAuthors = splitAuthors | slice: 0, 5 %}
        {{ firstThreeAuthors | join: ", " }};
    {% endif %}

    <!-- Handling the display of the author list -->
    {% if splitAuthors.size > 5 %}
        {% assign firstThreeAuthors = splitAuthors | slice: 0, 5 %}
        
    
        <!-- Displaying the first three authors and checking for Geha -->
        {{ firstThreeAuthors | join: ", " }} et al.;
        {% if entry.additional_authors %}
            <strong>({{ entry.additional_authors }})</strong>;
        {% endif %}
    {% endif %}
    {% if splitAuthors.size <= 4 %}
        {{ formattedAuthors }};
    {% endif %}
    
    <span>{{ entry.year }}</span>;
    <em>{{ entry.title }}</em>;
    {% if entry.journal %}
    <span>{{ entry.journal }}</span>;
    {% endif %}
    {% if entry.booktitle %}
    <span>{{ entry.booktitle }}</span>;
    {% endif %}
    {% if entry.adsurl %}
    <span><a href="{{ entry.adsurl }}">{{entry.doi}}</a></span>
    {% endif %}
</div>